.grid-frame {
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr 6px 1fr;
	grid-template-columns: 1fr 6px 1fr;
}

.gutter-col {
	grid-area: 1 / 2 / 4 / 2;
	cursor: col-resize;
}

.gutter-row {
	grid-area: 2 / 1 / 2 / 4;
	cursor: row-resize;
}
